.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.title h1{
    color: rgba(249, 244, 218, 1);
    font-weight: 500;
    font-size: 2rem;
}

.title p{
    color: rgba(142, 142, 142, 1);
    font-weight: 400;
    font-size: 1rem;
    margin-top: -0.75rem;
    max-width: 400px;
}

.status-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F9F4DA;;
    width: 480px;
    min-height: 90px;
    border-radius: 4px;
    padding: 5px;
    margin-block: 30px;
}

.status-section.farewell{
    background-color: #7A5EA7;
    border: 1px dashed #323232;
}

.status-section.lost{
    background-color: rgba(186, 42, 42, 1);
}

.status-section.won{
    background-color: rgba(16, 169, 91, 1);
}

.status-section h2{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 4px;
}

.status-section p{
    font-size: 1rem;
    font-weight: 400;
    margin: 4px;
}

.status-section > p.farewell-message {
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
}

.attempts-remaining{
    color: rgba(142, 142, 142, 1);
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.attempts-remaining.lost{
    color: rgba(186, 42, 42, 1);
}

.attempts-remaining.won{
    color: rgba(16, 169, 91, 1);
}

.languages-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin-bottom: 36px;
}

.languages-container .chip{
    font-size: 1rem;
    font-weight: 400;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    position: relative;
}

.languages-container .chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    opacity: 0.85;
    background-color: rgba(0, 0, 0, 0.7);
}

.current-word-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;
    padding: 6px;
    min-width: 300px;
    margin-bottom: 30px;
}

.letter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(249, 244, 218, 1);
    width: 40px;
    height: 40px;
    background-color: rgba(50, 50, 50, 1);
    border-bottom: 1px solid rgba(249, 244, 218, 1)
}

.letter-box.revealed{
    background-color: #EC5D49;
    border-bottom: none;
}

.keyboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 480px;
    margin-bottom: 36px;
}

.keyboard-container > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(252, 186, 41, 1);
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.keyboard-container > button.correct{
    background-color: #10A95B;
}

.keyboard-container > button.wrong{
    background-color: #EC5D49;
}

.keyboard-container > button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.new-game-btn{
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 40px;
    padding: 6px 12px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(30, 30, 30, 1);
    background-color: rgba(17, 181, 229, 1);
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 4px;
    cursor: pointer;
}