.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.title h1{
    color: rgba(249, 244, 218, 1);
    font-weight: 500;
    font-size: 2rem;
}

.title p{
    color: rgba(142, 142, 142, 1);
    font-weight: 400;
    font-size: 1rem;
    margin-top: -0.75rem;
    max-width: 400px;
}

.status-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: green;
    max-width: 650px;
    min-width: 400px;
    border-radius: 4px;
    padding: 5px;
    margin-block: 20px;
}

.status-section h2{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 4px;
}

.status-section p{
    font-size: 1rem;
    font-weight: 400;
    margin: 4px;
}

.languages-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin-bottom: 36px;
}

.languages-container p{
    font-size: 1rem;
    font-weight: 400;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

.current-word-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;
    padding: 6px;
    min-width: 300px;
    margin-bottom: 30px;
}

.letter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(249, 244, 218, 1);
    width: 40px;
    height: 40px;
    background-color: rgba(50, 50, 50, 1);
    border-bottom: 1px solid rgba(249, 244, 218, 1)
}

.keyboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 480px;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(252, 186, 41, 1);
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}